*{
    box-sizing: border-box;
}

body{
    background-color: #746a74 !important;
}
.mainContent{
    background-color: #746a74;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.user-form{
    max-width: 700px;
    width: 100%;
}

.user-form input{
    width: 100%;
    display: block;
    background-color: #ffffff;
    border: solid 1px black;
    border-radius: 10px;
    color: #000000;
    padding: 1rem;
    margin-bottom: 2rem;
    font-family: inherit;
    font-size: 1rem;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(0,0,0,0.1);
}

.user-form button{
    height: 65%;
    width: 9%;
}
.user-form input::placeholder{
    color: #737070;
}

.user-form input:focus{
    outline: none;
}

.cardInfo {
    max-width: 500px;
    text-align: center;
    background-color: rgb(221, 208, 208);
    border-radius: 20px;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    padding: 3rem;
    margin: 0 1.5rem;
    color: black;
}

.cardErrorInfo {
    max-width: 800px;
    background-color: rgb(197, 189, 189);
    border-radius: 20px;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(0,0,0,0.1);
    padding: 3rem;
    margin: 0 1.5rem;
    color: black;
}

.avatar{
    border-radius: 50%;
    border: 10px solid #4e4a4a;
    width: 45%;
}

.user-info {
    color: black;
    margin-left: 2rem;
    margin-top: -1.5rem !important;
}

.gotoProfile{
    margin-top: -1.5rem !important;
    margin-left: 92% !important;

}
.user-info h2{
    margin-top: 0;
}

.user-info ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    max-width: 400px;
}

.user-info ul li{
    display: flex;
    align-items: center;
}

.user-info ul li strong{
    font-size: 0.9rem;
    margin-left: 0.5rem;
}

.repo{
    text-decoration: none;
    color: #fff;
    background-color: #373333 ;
    font-size: 0.7rem;
    padding: 0.25rem 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    display: inline-block;
}

@media (max-width: 500px){
    .card{
        flex-direction: column;
        align-items: center;
    }
    .user-form{
        max-width: 400px;
    }
}